<div style="height: 100%; width: 100%">

    <div id="header" style="position:absolute; top:0px; left:0px; right:0px;overflow:hidden;">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">smsXpress</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!--<li class="active"><a href="#">Home</a></li>-->
                        <li><a href="" ng-click="vm.goToSection('sobre')">Sobre</a></li>
                        <li><a href="" ng-click="vm.goToSection('sms')">Envie SMS</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div id="content" style="position:absolute; height: 100%; overflow: scroll; width: 100%">
        <div style="height: 100%; width: 100%; color: white; background-color: #9C89B8" id="sobre" ui-view="sobre"></div>
        <div style=" background-color: #EFC3E6; height: 100%; width: 100%" id="sms" ui-view="sms"></div>
    </div>
<!--    <div id="footer" style="position:absolute; bottom:0px; overflow:hidden;">
    </div>-->

</div>