<section style="">
    <section class="section-padding" id="faq-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>smsXpress</h2>
                        <p>Ainda não sabe o que é ou como usar a ferramenta? Abaixo estão listadas as perguntas mais frequentes.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true">O que é o smsXpress?</a>
                            </h4>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <p> O smsXpress foi feito para o envio simultâneo de mensagens SMS para diferentes pessoas. Onde os números de telefone que receberão a mensagem e a mensagem em si são definidos por você.</p>

                                   <p> A nossa ferramenta é uma ótima maneira de se comunicar com os seus contatos, através de SMS.</p>
                            </div>
                        </div>

                        <div class="panel">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Como usar?</a>
                            </h4>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <p> Muito Simples!</p>
                                <p> Logo abaixo, na seção SMS, você verá os campos para digitar os números de telefone (separados por espaço) para os quais você quer enviar a mensagem, e um campo onde você digitará sua mensagem.</p>
                            </div>
                        </div>

                        <div class="panel">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Qual o custo?</a>
                            </h4>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <p> Cada telefone inserido custa apenas R$0,10.</p>
                                <p> E a cada 10 caracteres de mensagem, um adicional de R$0,05 é cobrado.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>